In [2]:
# -*- coding: utf-8 -*-
"""
Created on Mon May  7 23:55:13 2023

@author: bjsiv
"""
# This file will take both clean datasets and use the Z-Score method to remove data outliers, in order to further 
# prepare the data for visualization.

'\nCreated on Mon May  7 23:55:13 2023\n\n@author: bjsiv\n'

In [3]:
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
# We will first import the clean CPU and clean GPU datasets from our previous python files, and create copies of 
# both of them to refrence. 

df_1 = pd.read_csv(r'C:\\Users\\bjsiv\\Documents\\CPU-GPU_Chip_Analysis\\Data\\CPU_CleanData.csv')
df_cpu = df_1.copy(deep=True)

df_2 = pd.read_csv(r'C:\\Users\\bjsiv\\Documents\\CPU-GPU_Chip_Analysis\\Data\\GPU_CleanData.csv')
df_gpu = df_2.copy(deep=True)

In [5]:
df_cpu.describe()

,Unnamed: 0,Unnamed: 0.1,Process_Size,TDP,Die_Size,Transistors,Freq
count,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000
mean,1085.031756,1085.031756,60.476993,73.434219,169.550227,1088.541154,2447.359041
std,629.138628,629.138628,42.994683,47.640563,80.764987,1875.181858,737.014189
min,0.000000,0.000000,7.000000,1.000000,1.000000,37.000000,600.000000
25%,531.500000,531.500000,32.000000,37.000000,109.000000,125.000000,1900.000000
50%,1080.000000,1080.000000,45.000000,65.000000,156.000000,450.000000,2400.000000
75%,1633.500000,1633.500000,90.000000,95.000000,220.000000,1200.000000,3000.000000
max,2191.000000,2191.000000,180.000000,300.000000,684.000000,19200.000000,4700.000000

In [6]:
df_cpu.drop(df_cpu.columns[[0,1]], axis=1, inplace=True)

In [8]:
df_cpu.head()

  Type  Process_Size    TDP  Die_Size  Transistors  Freq Vendor
0  CPU          65.0   45.0      77.0        122.0  2200    AMD
1  CPU          14.0   35.0     192.0       4800.0  3200    AMD
2  CPU          22.0   80.0     160.0       1400.0  1800  Intel
3  CPU          45.0  125.0     258.0        758.0  3700    AMD
4  CPU          22.0   95.0     160.0       1400.0  2400  Intel